body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  color: #292d42;
}
/* header */
.header {
	background-color: #F9F3FA;
  margin: 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #4D3B51;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}
.logo-img {
	padding: 0 1rem;
	width: 100px;
}
.navbar {
  line-height: 1rem;
  display: flex;
  justify-content: center;
	text-align: right;
	margin-top: 0.2rem;
	overflow: hidden;
}
.button {
  padding: 0.2rem;
  border: none;
  border-bottom: 0.02rem solid #CE9DD9;
  color: #292d42;
  margin: 0 2rem;
  font-size: 0.9rem;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
	align-self: center;
}
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}
.navbar .bars {
	display: none;
}
.button:hover {
  color: #4D3B51;
  border-bottom: 0.02rem solid #4D3B51;
  font-size: 0.93rem;
  cursor: pointer;
  letter-spacing: 0.08rem;
}

/* home */
.home {
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b2e2e;
}
.home-subtitle {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}
.my-image {
  width: 120px;
}
.subtitle {
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: left;
}
.home-paragraph {
	display: flex;
	justify-content: space-around;
}
.paragraph {
	font-size: 1rem;
	line-height: 1.4rem;
	width: 80%;
}

/* about */
.about {
	padding: 2rem;
	background-color: #292d42;
}
.about-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.about-text {
	font-size: 1.2rem;
	line-height: 1.8rem;
	width: 75%;
	margin: 2rem auto;
}
.about-title {
	color: #9B76A3;
}
.about-timeline {
	display: flex;
	justify-content: center;
}
.about-img {
	margin-top: 2rem;
	border-radius: 3rem;
	width: 30rem;
}
.medium-link {
	display: block;
	margin: 2rem;
	text-align: center;
	font-size: 1.3rem;
	color: #9B76A3;
}
.journey {
	color: #292d42;
}

/* ux design */
.ux {
  padding: 2rem;
}
.hr {
	height: 2px;
	border: 0;
	box-shadow: 0 6px 6px -6px #8c8b8b inset;
	margin: 2rem;
}
.showcase-row {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.project-showcase {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.showcase-text {
	color: #292d42;
	font-size: 1.3rem;
	text-align: center;
	width: 60%;
	margin: 1rem auto;
	font-family: 'Neucha', cursive;
	border-bottom: 1px solid rgba(249,243,250,0.3);
}
.showcase-images {
	display: flex;
	justify-content: center;
}
.figure {
	border-radius: 2rem;
	background-color: #FFFFFF;
	border: 0.08rem solid #F9F3FA;
	margin: 1rem;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	box-shadow: 0 10px 15px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}
.showcase-image {
	width: 20rem;
	padding: 1rem;
	border-radius: 2rem;
}
.showcase-caption {
	text-align: center;
	padding-bottom: 1rem;
	color: #9B76A3;
}
.ux-project {
  text-align: center;
  color: #9B76A3;
  font-size: 1.5rem;
	margin-top: 5rem;
}
.view-link {
  color: #222;
  opacity: 0.8;
}
.credit {
	text-align: center;
}

/* gallery */
.gallery {
	padding: 2rem;
}
.gallery-item {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin: 2rem 0;
	padding: 2rem 0;
}
.code-icon {
	margin: 1rem auto;
	display: block;
	width: 15px;
	background-color: #F9F3FA;
	padding: 0.3rem 40%;
}
.reverse {
	flex-direction: row-reverse;
}
.project-text {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-top: 1rem;
	text-align: center;
	flex-basis: 2;
}
.project-title {
	text-decoration: none;
	color: #292d42;
	margin: 0;
	font-size: 1.8rem;
	border-bottom: 2px solid rgba(12, 40, 69, 0);
	transition: all 1.5s ease-in;
}
.project-title:hover {
	border-bottom: 2px solid rgba(12, 40, 69, 0.8);
}
.text {
	font-size: 1.2rem;
	line-height: 1.4rem;
	margin: 0 auto;
}
.project-image {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
.image {
	margin: 1rem;
	padding: 0.7rem;
}
.project-buttons {
	display: flex;
	justify-content: center;
	flex-direction: row;
	cursor: pointer;
}
.project-skills {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2rem;
	color: #335252;
}
.project-skill {
	font-size: 3rem;
	display: flex;
	flex-direction: column;
	margin: 1rem;
}
.project-skill-name {
	font-size: 1rem;
}
.last-item {
	margin-bottom: 0;
	padding-bottom: 1rem;
}
/* skills */
.skills-section {
  padding-top: 1rem;
}
.skills {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skill{
  font-size: 2.5rem;
  margin: 1.5rem 3rem;
  text-align: center;
  transition: all 0.5s linear;
  color: #335252;
}
.ux-skill {
	width: 3rem;
}
.skill:hover {
  opacity: 0.9;
  color: #aa4b41;
  transform: scale(1.05);
}
.skill-name {
  font-size: 0.8rem;
  text-align: center;
}
.view-button {
	font-size: 1rem;
	background-color: #a1c4fd;
	color: #222;
	padding: 0.5rem 0.7rem;
	display: block;
	margin: 2rem;
	border: none;
	font-family: 'Didact Gothic', sans-serif;
	border-radius: 0.3rem;
	opacity: 0.6;
	transition: all 0.4s ease-in;
	cursor: pointer;
}
.view-button:focus {
	outline: 0;
}
.view-button:hover {
	opacity: 1;
}
.ux-center {
	display: block;
	margin: 2rem auto;
}

/* contact */
.contact {
  background-color: #292d42;
  padding: 2rem 0 1.5rem 0;
}
.email-text {
  text-align: center;
  color: #F9F3FA;
  font-size: 1.8rem;
}
a {
  text-decoration: none;
}
.websites {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.website {
  font-size: 2.5rem;
  margin: 2rem;
  transition: all 0.5s linear;
  color: #f8f1e5;
}
.website:hover {
  opacity: 0.9;
  color: #CE9DD9;
  transform: scale(1.1);
}
.website-link {
  color: #c2e9fb;
}

/* footer */
.footer {
  background-color: #F9F3FA;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}
.email {
  color: #2b2e2e;
}
.footer-text {
  color: #2b2e2e;
  font-size: 1rem;
  margin: 0 1rem;
}
.footer-link:hover {
  color: #CE9DD9;
  text-decoration: underline;
}

/* section-titles */
.section-title {
	font-family: 'Schoolbell', cursive;
  font-size: 1.2rem;
  color: #F9F3FA;
  padding: 0.8rem 3rem;
  margin: 0.5rem auto;
  width: 30%;
  display: block;
	background-color: #292d42;
  text-align: center;
	border-radius: 3rem;
	line-height: 1.8rem;
	letter-spacing: 0.15rem;
}
.section-subtitle {
	margin: 1rem;
	line-height: 1.8rem;
	letter-spacing: 0.15rem;
	text-align: center;
	font-size: 1.3rem;
}
.reverse-title {
	color: #292d42;
	background-color: #F9F3FA;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 780px) {
	.navbar {
		display: block;
	}
	.navbar a {
		display: none;
	}
  .navbar a.bars {
    float: right;
    display: block;
		color: #CE9DD9;
  }
	.navbar.responsive {
		position: relative;
	}
	.button {
		margin: 0;
		padding: 0.2rem;
	}
  .navbar.responsive a.bars {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
		padding: 5px;
  }
	.logo-img {
		width: 60px;
		height: 60px;
	}
  .home {
    height: auto;
    margin-top: 10vh;
  }
  .my-image {
    margin-left: 2rem;
  }
  .subtitle {
		margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: left;
  }
	.about {
		height: auto;
		margin-top: 10vh;
	}
	.about-container {
		flex-direction: column;
	}
	.about-img {
		margin: 1rem auto;
		width: 20rem;
	}
  .image {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
	.figure {
		width: 20rem;
		margin: 1rem auto;
	}
	.showcase-images {
		flex-direction: column;
	}
	.showcase-image {
		width: 15rem;
		margin: 1rem auto;
	}
  .gallery-item {
    flex-direction: column;
    padding: 1rem 0;
  }
  .view-button {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
  }
  .project-skills {
    margin: 1rem;
  }
  .skill {
    margin: 1.2rem;
  }
  .footer {
    padding: 0.3rem;
  }
  .footer-text {
    font-size: 0.7rem;
    margin: 0 0.3rem;
  }
}
@media screen and (max-width: 450px) {
	.logo-img {
		width: 45px;
		height: 45px;
	}
  .home {
    height: auto;
    margin-top: 8vh;
  }
  .my-image {
    margin-left: 0.5rem;
		width: 100px;
  }
  .subtitle {
		margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.2rem;
		padding-right: 2rem;
  }
	.about {
		height: auto;
		margin-top: 10vh;
	}
	.about-container {
		flex-direction: column;
	}
	.about-img {
		margin: 1rem auto;
		width: 15rem;
	}
  .image {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
	.figure {
		width: 15rem;
		margin: 0.5rem auto;
	}
	.showcase-images {
		flex-direction: column;
	}
	.showcase-image {
		width: 12rem;
		margin: 1rem auto;
	}
  .gallery-item {
    flex-direction: column;
    padding: 1rem 0;
  }
  .view-button {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
  }
  .project-skills {
    margin: 1rem;
  }
	.skills {
		width: 90%;
	}
  .skill {
    margin: 0.5rem;
  }
  .footer-text {
    font-size: 0.5rem;
    margin: 0 0.3rem;
  }
	.section-subtitle {
		margin: 0.2rem;
	}
}
